body {
	font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: medium;
	background: #fff;
	color: #000;
}

h1 {
	text-align: center;
}

#message {
	text-align: center;
}

img.card {
	border: 4px solid #ccc;
}

img.selected {
	border: 4px solid #00f;
}