body {
	font-family: Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: medium;
	background: #fff;
	color: #000;
}

h1 {
	text-align: center;
}

#main {
	width: 700px;
	margin: auto;
}

#message {
	text-align: center;
	background: #ff0;
	font-size: 2.0em;
}

#theTable {
	width: 700px;
}

#score {
	font-size: 3.0em;
}

img.card {
	width: 224px;
	height: 120px;
	border: 4px solid #ccc;
	margin: 2px;
}

img.selected {
	border: 4px solid #00f;
}
